.header{
    display: flex;
    justify-content: space-between;
    padding: 100px 80px 0;

}

.header__todo{
    width: 630px;
}

.todo__title{
    padding-bottom: 24px;
    font-weight: 700;
    font-size: 34px;
    line-height: 38px;
}

.todo__button{
    padding: 102px  0 64px;
}
.todo__bth{
    cursor: pointer;
    padding: 10px 24px;
    background: linear-gradient(0deg, #081e340d, #081e340d), #F0F0F0;
    border-radius: 100px;
    border: none;
    color: #081E34;
    gap: 8px;
}

.todo__bth:focus{
    background: #081e346b;
    color: #ffff;
}

.todo__bth:nth-child(even){
   margin: 0 16px;
}

.header__modal{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.modal__box{
    display: flex;
    flex-direction: column;
    padding: 16px;

    background: #E4E6E7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    border-radius: 12px;

}

.modal__title{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    color: #151517;
}

.modal__text{
    width: 236px;
    height: 120px;

    border: none;
    background: #FFFFFF;
    border-radius: 8px;
    outline: none;
    resize: none;

    padding-top: 13px;
    padding-left: 16px;
    margin: 10px 0 10px;

    font-size: 16px;
    line-height: 22px;
}

.modap__add{
    font-weight: 700;
    width: 76px;
    color: #FFFFFF;
    outline: none;
    border: none;

    background: rgb(8, 30, 52);
    padding: 11px 24px;
    border-radius: 100px;
    cursor: pointer;
}

.modal__bth{
    align-self: flex-end;
    margin-left: 25px;
    margin-bottom: 23px;
    
    width: 52px;
    height: 52px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}